body {
  font-family: Arial, sans-serif;
  margin:0; 
  padding:0; 
  background-image: url(https://i.pinimg.com/originals/b4/59/26/b4592635d6855ea30e1d652b846fb3df.jpg);
  background-size: cover;
  background-position: center;

}
header{
  text-align: center;
  font-size: 100px;
}
label{
  background-color: #fff;
  opacity: .8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.anim-list {
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  grid-template-columns: repeat(2, 1fr); /* 3 columnas de igual tamaño */
  gap: 10px; /* Espacio entre las imágenes */
  width: 20%; /* Ajusta el ancho según tus necesidades */
}
ul {
  list-style: none;
  margin: 8px;
  padding: 15px;
  background-color: #fff;
  opacity: .8;
}

li {
  margin: 8px;
  padding-bottom: 60px;
display: block;
}
a:hover {
  background-color: #34a853;
  transform: scale(5.9);
 padding: 6px;
}
a {
  text-decoration: none;
  color: #000000;
  padding: 20px;
  border-radius: 5px; 
  width: 20px; 
  box-sizing: border-box; 
  font-size: 30px;
  font-weight: bold;
}
.additional-text {
  color: #fff;
  padding: 200px; /* Ajusta el espaciado según tus necesidades */
  width: 50%; /* Ajusta el ancho según tus necesidades */
  border: #000000;
}
.anim-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
border: #000000;
}
.additional-text p {
  margin: 6px; /* Elimina el margen predeterminado del párrafo */
  height: auto;
  font-size: 30px;
  color: #000000;
  background-color: #fff;
  opacity: .8;
  font-weight: bold;
  padding: 20px;
}















